version: '3.3'

services:
  web:
    container_name: web
    build: .
    # entrypoint: ["/entrypoint.sh"]
    # command: sh -c "python manage.py runserver 0.0.0.0:8000"
    depends_on:
      - db
    expose:
      - "8000"
    ports:
      - "8000:8000"
    volumes:
    # Copy changes made to the project to your image in real-time.
      - ./backend:/app/web
      - ./data/web:/vol/web
      # - ./tmp_mysqld/cycrent/mysqld:/run/mysqld
    environment:
      - SECRET_KEY=devsecretkey
      - DEBUG=1
      - DB_HOST=db
      - DB_NAME=cycrent_db
      - DB_USER=root
      - DB_PASS=trailking201
      - ALLOWED_HOSTS=*

  db:
    container_name: database
    image: mysql:8.0.29
    ports:
      - "30000:3306"
    environment:
      MYSQL_DATABASE: 'cycrent_db'
      # MYSQL_USER: 'root'
      # MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'trailking201'
    volumes:
      - ./cache/db:/var/lib/mysql
      # - ./db:/docker-entrypoint-initdb.d/:ro
      # - ./tmp_mysqld/cycrent/mysqld:/var/run/mysqld
