asgiref==3.5.2
Django==4.0.4
django-mysql==4.6.0
djangorestframework==3.13.1
mysqlclient==2.1.0
Pillow==9.1.1
pytz==2022.1
sqlparse==0.4.2
# django-environ==0.8.1
# whitenoise==4.1.4
# django-cors-headers==3.12.0
# dj-database-url==0.5.0